beautifulsoup4==4.12.3
blinker==1.6.2
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dnspython==2.3.0
Flask==2.2.5
idna==3.10
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
pymongo==4.7.3
python-dotenv==0.21.1
requests==2.31.0
soupsieve==2.4.1
urllib3==1.26.20
Werkzeug==2.2.3